<h1>New Song Form</h1>

<form action = '/songs' method="POST">

    <label>Artist Name:</label>
    <input type="text" name="artist_name"><br>
    <label>Song Name:</label>
    <input type="text" name="song_name"><br>
    <label>Song Genre:</label>
    <input type="text" name="genre_name"><br>

  
  <button type="submit">Go</button>

</form>